body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    background-image: url("");
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(106, 18, 157);
}
img {
  max-width: 100%;
}
  header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .logo {
    width: 80px;
    padding: 20px;
  }
  .main-navigation{
    background-color: black;
  }
  .main-navigation a {
    color: azure;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
  }
.main-navigation a:hover{
  background-color: blueviolet;
  color: aliceblue;
}
.banner {
  min-width: 50vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(banner3.png);
  background-position: center;
  background-size: cover;
}
.banner-button {
display: block;
background-color:rgb(0, 0, 0);
color: lavender;
text-decoration: none;
padding: 12px;
border-radius: 7px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  /* max-width: 33.33%; */
  flex-basis: 30%;
  text-align: center;
  background-color: white;
  margin: 10px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-context {
  padding: 10px;
}
.centered-image {
  display: flex; /* Use Flexbox to center */
  justify-content: center; /* Center horizontally */
  margin: 20px 0; /* Optional: Add some space above and below */
}

.centered-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}
.card-container {
  display: flex; /* Use flexbox to align cards */
  justify-content: center; /* Center the cards */
  gap: 20px; /* Space between cards */
  margin-top: 20px; /* Space above cards */
}